@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.text-align-center {
  text-align: center !important;
}
body {
  margin: 0px;
  background-color: #f1f2f6;
  font-size: 1rem;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-menu {
  display: none;
}
.btn-tutup {
  display: none;
}
.btn-blue {
  background-color: #45aaf2;
  border-color: #45aaf2;
  color: #fff;
}
.btn-blue:hover {
  background-color: #2190df;
  border-color: #2190df;
  color: #fff;
}
.btn-blue:active {
  background-color: #117cc9;
  border-color: #2190df;
  color: #fff;
}
.btn-green {
  background-color: #2bcbba;
  border-color: #2bcbba;
  color: #fff;
}
.btn-green:hover {
  background-color: #0fb9b1;
  border-color: #0fb9b1;
  color: #fff;
}
.btn-green:active {
  background-color: #04a39b;
  border-color: #04a39b;
  color: #fff;
}
.btn-red {
  background-color: #eb3b5a;
  border-color: #eb3b5a;
  color: #fff;
}
.btn-red:hover {
  background-color: #da2a4a;
  border-color: #da2a4a;
  color: #fff;
}
.btn-red:active {
  background-color: #c21f3d;
  border-color: #c21f3d;
  color: #fff;
}
.box {
  border: 1px solid #ddd;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  word-wrap: break-word;
  width: 288px;
  padding: 2rem 1rem;
  margin-top: 1rem;
  position: relative;
}
.box-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.borderless {
  border: 0px !important;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-menu {
  display: none;
}
.content-menu a.content-menu-item {
  color: #ddd;
  text-decoration: none;
  padding: 0px 1rem;
}
.content-menu a.content-menu-item:hover {
  color: #fff;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.f-justify-content-start {
  justify-content: flex-start !important;
}
.f-justify-content-center {
  justify-content: center !important;
}
.f-justify-content-around {
  justify-content: space-around !important;
}
.f-justify-content-between {
  justify-content: space-between !important;
}
.f-justify-content-evenly {
  justify-content: space-evenly !important;
}
.f-justify-content-end {
  justify-content: flex-end !important;
}
.f-align-items-start {
  align-items: flex-start !important;
}
.f-align-items-center {
  align-items: center !important;
}
.f-align-items-end {
  align-items: flex-end !important;
}
.f-align-self-start {
  align-self: flex-start !important;
}
.f-align-self-center {
  align-self: center !important;
}
.f-align-self-end {
  align-self: flex-end !important;
}
header {
  background-color: #1e272e;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
.box img {
  border: 1px solid #1e272e;
  border-radius: 10% !important;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main {
  margin-top: 5rem !important;
}
nav.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-logo {
  padding: 5px 16px;
}
.header-logo a {
  text-decoration: none;
  text-align: center;
  color: #ddd;
}
.header-menu {
  padding: 5px 16px;
}

@media (max-width: 818px) {
  .box {
    width: 30rem;
    height: 27rem !important;
    justify-content: center;
  }
  .btn-menu {
    color: #fff !important;
    font-size: 25px !important;
    display: inline-block;
  }
  .btn-tutup {
    color: #fff !important;
    font-size: 25px !important;
    display: none;
  }
  .content-menu {
    height: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    transition: 1s;
  }
  .content-menu a.content-menu-item {
    padding: 7px 0px;
  }
  .content-menu a.content-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .header {
    display: block !important;
    height: fit-content;
  }
  .header-logo {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-top: 10px !important;
  }
  .header-menu {
    text-align: center;
  }
  #main {
    transition: margin-top 1s, margin-bottom 1s;
  }
}

footer {
  margin-top: 20px;
  background-color: #1e272e;
  padding: 20px;
}

.main-footer {
  color: #fff;
}

/* ! TABLET */
@media (max-width: 945px) {
  .box {
    width: 30rem;
    height: 27rem !important;
    justify-content: center;
  }
  .main-footer {
  text-align: center;
  }
  .content-menu {
    display: flex;
  }
}
